<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Create page</title>
</head>
<body>
<header>
    <h1>My Notes App</h1>
    <nav><a href="/">Home</a><a href="/notes">Notes  </a><a href="/admin-page">Admin Page  </a><a href="/manager-page">Manager Page</a><a href="/logout">Logout</a></nav>
</header>
<h1>Hello</h1>
<form action="/notes/add" name="note" method="post">
    <div>
        <input name="title" type="text" placeholder="title"/>
    </div>
    <p>
    <div>
        <textarea name="message" id="" cols="30" rows="10" placeholder="message"></textarea>
    </div>
    <p>
        <input type="submit" value="Create">

</form>
<style>
    a{
        margin-left: 10px;
        color: #eeeeee;
        text-decoration: none;
        text-transform: uppercase;
    }
    a:hover{
        text-decoration: underline;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        letter-spacing: 1px;
        height: 6em;
        padding: 2em 10%;
        background: #2c3e50;
        color: #fff;
    }

</style>
</body>
</html>