<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restore password</title>
</head>
<body>
<div class="container">
    <form action="/remind">
        <span>Enter your email: </span>
        <input type="text" name="email">
        <input type="submit" value="Send">
    </form>
</div>
<style> body {
    background-color: #eee;
    font-family: sans-serif;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div {
    margin: 15px;
}

a {
    margin: 5px;
    color: red;

    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: black;
}

a:visited {
    color: purple;
}</style>
</body>
</html>